.project-page{
    position: absolute;
    left: 11%;
    width:89%;
    
    h1{
        font-size: 290%;
        font-family: 'Coolvetica';
        color: #2b3a55;
        font-weight: 400;
        text-align: center;
    }

    h2{
        font-size: 150%;
        font-family: 'Coolvetica';
        color: #2b3a55;
        font-weight: 350;
        font-size: large;
    }

    p{
        font-family: sans-serif;
        font-weight: 300;
        width: 100%;
        font-size: medium;
        text-align: justify;
    }

    img{
        width: 80%;
        height: 80%;
        animation: fadeInUp 1.8s 1.8s;
        animation-fill-mode: forwards;
    }

}

.project-grid{
    display: grid;
    grid-template-columns: auto auto auto;
}

.project-item{
    width: 90%;
}

.project-page a{
    text-decoration: none;
}