.dp-container{
    z-index: 0;
    width: 30vw;
    max-width: 403px;
    height:50vh;
    position: absolute;
    max-height: 100%;
    top: auto;
    right: 0.05vw;
    margin: auto;

    .dp-image{
        position:absolute;
        width: 90%;
        top: 25%;
        margin:auto;
        right: auto;
        left: 0;
        opacity:0;
        animation: fadeIn 1s 1.8s forwards;
        max-height:100%;
    }
}