.container {
    width: 100%;
    will-change:contents;
    height: 90%;
    min-height: 566px;
    position: absolute;
    opacity: 0;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}

.about-page, .contact-page {

    .text-zone{
        position:absolute;
        left: 11%;
        display: table-cell;
        top:50%;
        transform: translateY(-50%);
        width: 45%;
        vertical-align: middle;
        max-height: 90%;
        font-size: 13px;
    }

    h1{
        font-size: 53px;
        font-family: 'Coolvetica';
        color: #2b3a55;
        font-weight: 400;
        margin-top: 0;
        position: relative;
        margin-bottom: 20px;
        left:10%;
    }

    p{
        font-family: sans-serif;
        font-weight: 300;
        min-width: fit-content;
         
    }
}