.container {
    width: 100%;
    will-change:contents;
    height: 100%;
    position: absolute;
    opacity: 0;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
    max-height: 100%;
}

.contact-page{

    .text-zone{
        position:absolute;
        left: 11%;
        display: table-cell;
        top:50%;
        transform: translateY(-50%);
        width: 45%;
        vertical-align: middle;
        max-height: 90%;
        font-size: 150%;
        text-align: justify;
    }

    h1{
        font-size: 290%;
        font-family: 'Coolvetica';
        color: #2b3a55;
        font-weight: 400;
        margin-top: 2%;
        position: relative;
        margin-bottom: 0%;
        left:10%;
    }

    p{
        font-family: sans-serif;
        font-weight: 300;
        min-width: fit-content;
         
    }
}