.home-page{
    
    max-height: 100%;
    .text-zone{
        position: absolute;
        left:11%;
        
        top:50%;
        transform: translateY(-50%);
        width: 65vw;

    }

    h1 {
       color:#1A0000;
       font-size: 300%;
       margin:0px;
       font-family: 'Coolvetica';
       font-weight: 400;

    }

    h2{
        color: #2b3a55;
        margin-top:2.2em;
        font-weight:400;
        font-size:1.2em;
        font-family:sans-serif;
        letter-spacing: 0.23em;
        animation: fadeIn 1s 1.8s backwards;
    }

    .flat-button{
        color:#1A0000;
        font-size: 1.2em;
        font-weight:400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid #1A0000;
        margin-top:25px;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: normal;

        &:hover{
            background: #89c4e1;
            color:#2b3a55;

        }
    }


}