.contact-form{
    width: 100%;
    margin-top: 20px;
    

    ul{
        padding: 0;
        margin: 0;

        li{
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 10px;
            overflow:hidden;
            display:block;
            position: relative;
            opacity: 0;
            animation: fadeInUp 2s 2s;
            animation-fill-mode: forwards;
            clear: both;


        }

        li.half {
            width: 49%;
            margin-left: 2%;
            float: left;
            clear: none;

            &:first-child{
                margin-left: 0;
            }

        }
    }

    input[type='text'],
    input[type='email']{
        width:100%;
        height:50px;
        border:0;
        background-color: #d8d4c7;
        color: #1a0000;
        padding: 0 20px;
        box-sizing: border-box;

    }

    textarea{
        width: 100%;
        border:0;
        background-color: #d8d4c7;
        height:50px;
        font-size: 16px;
        color:#1a0000;
        padding:20px;
        min-height: 150px;
        box-sizing: border-box;

    }

    .flat-button{
        color: #2b3a55;
        background: 0 0;
        font: 11px;
        letter-spacing: 3px;
        text-decoration: none;
        padding: 8px 10px;
        border: 1px solid #2b3a55;
        float: right;
        border-radius: 4px;

    }

}

.quote-cube{
    width: 42%;
    height: 70%;
    top: 0;
    padding-top: 15%;
    margin-left: 0;
    position: absolute;
    right: 2%;
    overflow: hidden;
}

.cubespin{
    animation-name: spinner;
    animation-timing-function: ease-in-out;
    animation-duration: 70s;
    animation-iteration-count: infinite;
    transform-style: preserve-3d;
    transform-origin: 150px 150px 0;
    margin-left: calc(42% - 150px);

    div {
        position: absolute;
        width: 300px;
        height: 300px;
        border: 1px solid #1a0000;
        background: rgba(255,255,255,0.4);
        text-align: center;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;

        p{
            .quoter{
                float:right;
                margin-right: 20px;
            }
        }

    }
    .face{
        background-color:#d8d4c7;
    }
    .face1{
        transform: translateZ(150px);
    }
    .face2{
        transform: rotateY(89.9deg) translateZ(150px);
    }
    .face3{
        transform: rotateY(89.9deg) rotateX(90deg) translateZ(150px);
    }
    .face4{
        transform: rotateY(179.9deg) rotateZ(90deg) translateZ(150px);
    }
    .face5{
        transform:rotateY(-89.9deg) rotateZ(90deg) translateZ(150px);
    }
    .face6{
        transform: rotateX(-90deg) translateZ(150px);
    }
}


@keyframes spinner {
    from,
    to{
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);

    }
    17% {
        transform: rotateY(-89.9deg);
    }
    34% {
        transform: rotateY(-89.9deg) rotateZ(90deg);

    }

    50%{
        transform: rotateY(-179.9deg) rotateZ(90deg);

    }
    67%{
        transform: rotateY(-269.9deg) rotateZ(90deg);

    }
    84%{
        transform: rotateX(90deg);
    }
}